<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Buscador de libros
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input #searchString placeholder="Tecnología" type="text"></ion-input>
    <button ion-button item-right color="secondary" (click)="onSearch(searchString.value)">
      Buscar
    </button>
  </ion-item>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let book of books" (click)="bookDetail(book.isbn13)">
      {{ book.title }}
    </ion-item>
  </ion-list>
</ion-content>